<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head
	<body>
		<nav>
			<ul>
			<li><h1><a href="/">Alisha Foxall</a></h1></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/clubs">Clubs</a></li>
				<li><a href="/school">Classes</a></li>
				<li><a href="/life">Life</a></li>
				<li><a href="/resume.pdf" target="_blank">Resume</a></li>
			</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:alisha.foxall@queensu.ca">email</a></li>
				<li><a href="https://github.com/afoxall" target="_blank">github.com/afoxall</a></li>
				<li><a href="http://ca.linkedin.com/in/alishafoxall" target="_blank">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>